:root {
  --main-horizontal-padding: 160px;
}

body {
  font-family: "Roboto";
  margin: 0;
}

img {
  width: 400px;
  height: 100%;
}

header,
footer {
  background-color: #1f2937;
  color: white;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 16px;
  li {
    color: #e5e7eb;
    font-size: 18px;
  }
  li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--main-horizontal-padding);
}
.header-logo-text {
  font-size: 24px;
}
